.rodape_footer {
  font-family: sans-serif;
  background-color: #d0e9fb;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 1rem 0;
  line-height: 2;
  white-space: nowrap;
}

.rodape__lista {
  width: 135px;
  list-style: none;
}
