.lista-suspensa {
  margin: 5% 10%;
}

.lista-suspensa select {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #e6e6e6 solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
}

.lista-suspensa label {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
}
